body.simple-mode {
    @media only screen and (max-width: 500px) {

		.import-pic-dialog {
			position:absolute !important;
			background-color:transparent !important;
			left:0px !important;
			right:0px !important;
			bottom:0px !important;
			top:32px !important;
			width:auto !important;
            height:auto !important;
            
            .modal-body .form-group {
                margin-bottom: 5px;
                margin-top: 5px;
                margin-left: 5px;
                margin-right: 5px;
                box-sizing: border-box;
            }

            .erase-label {
                margin-top:5px;
            }

		}

        .iphone-hide {
            display:none;
        }

        .page {
        
            max-width: none;

            .navbar {
                display:none;
            }

            .editor-area {
                position: absolute;;
                top:0px;
                left:0px;
                right:0px;
                bottom:40px;
                box-sizing: border-box;
                padding:2px !important;

                &.editor-mode {
                    bottom:0px;
                    .notebook-left {
                        display:none;
                    }
                }                

                .glyf-selector-tabs {
                    position:absolute;
                    left:0px;
                    right:0px;
                    top:0px;
                    height:32px;
                    display:flex;
                    .tab-item {
                        flex:1;
                        text-align: center;
                        border-radius: 0px !important;
                        margin-left: 0px !important;
                        margin-right:0px !important;
                        border:0px;

                        &[data-value=subsetting] {
                            display: none;
                        }
                    }

                    

                    .tab-tools {
                        display:none;
                    }
                }
                
                .menu-title {
                    display:none;
                }

                .notebook-left {
                    position:absolute;
                    top:32px;
                    left:0px;
                    right:0px;
                    bottom:0px;
                    display:block;
                    z-index:100;
                    height: auto;


                }

                .notebook-container {
                    position:absolute;
                    top:32px;
                    left:0px;
                    right:0px;
                    bottom:0px;
                    display:block;
                    z-index:0;

                    .notebook-right {
                        position:absolute;
                        left:0px;
                        right:0px;
                        top:0px;
                        bottom:0px;
                        height: auto;

                        .editor {
                            top:40px;
                            bottom:60px;
                            left:0px;
                            right:0px;
                            height:auto;
                        }

                        #editor-commandmenu-container {
                            top: 0px;
                            border-radius: 0px;                                
                        }

                        #editor-commandmenu-bottom-container {
                            bottom: 0px;
                            border-radius: 0px;
                            height:60px;
                            padding-top: 4px;                            
                        }

                        .command-groups > li, 
                        .command-groups-bottom > li, 
                        .command-groups > li[data-theme="ico"], 
                        .command-groups-bottom > li[data-theme="ico"] {
                            padding: 0 8px; 
                        }

                        .command-groups-bottom > li[data-split="1"] {
                            display:block;
                            height: 5px;
                        }

                        .command-groups-bottom > li[data-direction="right"] {
                            float:right;
                        }                        

                        > .tools  {
                            top: 40px;
                            z-index:1000;
                        }
                    }
                }
            }

            .toolbar > .action-groups {
                margin-left: 0px !important;
            }

            .editor-mode + footer {
                display:none;
            }

            footer {
                position: absolute;
                bottom:0px;
                height:40px;
                left:0px;
                right:0px;

                margin:0px !important;
                padding:0px !important;

                .contact {
                    display:none;
                }

                .row {
                    width:100%;
                    padding-top:5px;
                    padding-bottom:5px;
                }
            }
        }

    }
}
