@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

body.simple-mode {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 13px;
	color: #000;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	max-width:840px;
	box-shadow: 0px 0px 20px 1px #888888;	
}

.simple-mode {

	&.modal-open {
		overflow:auto;
	}

	a{
		color:#C03035;
	}

	a:hover {
		outline: none;
		text-decoration:none;
		color:#4fcccd;
	}

	a:focus {
		outline:none;
		outline-offset: 0;
	}

	a {
		-webkit-transition: 300ms;
		-moz-transition: 300ms;
		-o-transition: 300ms;
		transition: 300ms;
	}


	ul {
		list-style: none;
	}

	
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}

	h1{
		color: #686868;
		font-size: 36px;
	}

	h2{
		font-size: 24px;
		color: #686868;
	}

	h3{
		font-size: 18px;
	}

	.btn {
		font-size: 13px;
	}

	.overflow{
		overflow: hidden;
	}

	.uppercase{
		text-transform: uppercase;
	}

	.btn-common {
		font-size: 14px;
		color: #0099ae;
		border: 1px solid #0099ae;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		padding: 10px 25px;
	}

	.btn-common:hover, 
	.btn-common:focus{
		outline: none;
		background: none;
		box-shadow: none;
		color: #01707f;
		border-color:#01707f;
	}

	.align-right{
		text-align: right;
	}

	.inline{
		display: inline-block;
	}

	.padding{
		padding: 65px 0;
	}

	.padding-bottom{
		padding-bottom: 65px;
	}

	.padding-top{
		padding-top: 90px;
	}

	.padding-right{
		padding-right: 80px;
	}

	.padding-left{
		padding-left: 80px;
	}

	.margin-bottom{
		margin-bottom: 35px;
	}

	.only-simple-hide {
		display:none;
	}

	.command-groups > li > .ico,
	.command-groups-bottom > li > .ico {
		font-size: 20px; 
	}

	[contenteditable=true]:empty:not(:focus):before {
	  content: attr(placeholder);
	  display: block; /* For Firefox */
	  color:#999999;
	}

	[contenteditable=true] {
		outline:none;
	}

	> header  {
		background-color: white; 

		a:hover {	
			background-color: transparent !important;
		}

		.navbar-nav {
			text-transform: uppercase;
		}

	}

	.simple-mode-title {
		z-index:-1;
		display:inline-block;
		position:absolute;
		top: 0px;
		left:50%;
		text-align:center;
		transform: translateX(-50%);

		h1 {
			font-size: 40px;
			//color:white;
			padding:20px; 

			.small-title {
				//color: rgba(200, 200, 200, 0.8);
			}
		}
	}

	footer {
		background-color: white; 
		padding-top:30px;
		padding-bottom:50px;
		.container {
			&.stack-style {
				width:auto;
				max-width: 800px;
				min-width:800px;
			}
		}
	}

	.navbar {
		position:relative;
		border-right:0px solid #ececec;
		border-bottom:0px solid #ececec;
		margin-bottom: 0;
		height:70px !important;
		//background-color:white;
		max-width: 800px;
		min-width: 800px;

		.container {
			max-width: 1200px;
			margin: 0 auto;
			display:block;

			&.stack-style {
				width:auto;
				max-width: 800px;
				min-width:800px;
			}
		}

		.logo {
			display:inline-block;
			float:none;
			vertical-align: middle;
		}

		.language {
			float:right;
			display:inline-block;
			vertical-align: middle;
			padding-top: 10px;
			a {
				font-size: 13px;
				//color: #aaa;
			}
		}

		
        .change-editor {
            background-color:transparent;
            font-weight:normal;
            font-size:13px;
        }

	    &.on {
			left: 0px;
		} 
	}

	.sidebar {
		top: 50px;
		left: -320px;
		transition: all 0.3s ease-in;


		.open-btn {
			top:0px;
			position:absolute;
			left: 100%;
			box-sizing:border-box;
			padding:5px;
			border:1px solid #ececec;
			width:30px;
			height:30px;
			cursor:pointer;
			text-align:center;
			background-color:rgba(255, 255, 255, 0.95);
			border-bottom-right-radius:5px;
			border-top-right-radius:5px;
		}

		&.on {
			left: 0px;	
		}
	}

	.toolbar {
		position:relative;		
		display:inline-block;
		box-sizing:border-box;
		height:auto;
		background-color:transparent;
		border:0px;
		text-align: right;
		top:auto;
		min-width: auto;
		

		.container {
			display:inline-block;
			flex:none;
			width:100%;
			max-width: auto;
			margin: 0 auto;

			&.stack-style {
				max-width: auto;
				min-width: auto;
			}			
		}

        .btn-flat {
		   background-color:transparent;
		   vertical-align: middle;
		   display: inline-block;
        }

	}

	.main.editing {
		display:none !important;
	}

	.editor-area {
		padding:20px;
		max-width: 1200px;
		position: relative;
		display:flex;
		box-sizing:border-box;
		//margin-top: 100px;
		//transition: all 0.3s ease-in;
		background-color: white; 

		&.stack-style {
			display:block;
			height: auto; 

			.notebook-left,
			.notebook-right {
				flex:none;
			}

			.notebook-left {
				height: 260px;
				width: 100%;
			}
		}

		&.has-only-editor {
			.notebook-left {
				display:none;
			}
			.notebook-options {
				display: none !important;
			}

			max-width: 600px !important;
		}


		&.has-options {
			.notebook-options {
				display:inline-block;		
				vertical-align: top;
				position:absolute;
				top: 312px;
				right: -279px;
				z-index:1000;
				width: 300px !important;
			}
		}

		
		.glyf-selector-tabs {
			position:relative;
			width:100%;
			padding-left:0px;
			padding-right:10px;

			.tab-tools {
				display: inline-block;
				height: 100%;
				margin-right:2px;
				float: right;
			}

			.tab-item {
				display:inline-block;
				height:100%;
				padding:5px 10px;
				height:32px;
				box-sizing:border-box;
				background-color: rgba(255, 255, 255, 0.7);
				color:black;
				border:1px solid #cecece;
				border-bottom:0px;
				border-top-left-radius:5px;
				border-top-right-radius:5px;
				cursor:pointer;
                margin-right:2px;
                margin-left:2px;

				&.selected {
					background-color: #121c42;
					color:white;
					font-weight:bold;
				}
			}

            
		}

		.notebook {
			flex:3;
			
			display:block;
			position:relative;
			height: 640px;			
			border: 1px solid #ececec;
		
		}

		.notebook-left {
			background-color: rgba(255, 255, 255, 1);
			overflow:hidden;
			//margin-right:1.5px;

			&.classic-mode {
				.classic-glyf-selector {
					display:block;
				}

				.simple-glyf-selector,
				.project-glyf-selector
                {
					display:none;
				}
			}

            &.simple-mode {
		        .simple-glyf-selector {
					display:block;
				}

				.classic-glyf-selector,
				.project-glyf-selector
                {
					display:none;
				}

            }

            &.project-mode {
		        .project-glyf-selector {
					display:block;
				}

				.classic-glyf-selector,
				.simple-glyf-selector
                {
					display:none;
				}

            }


			.classic-glyf-selector {
				display:none;

				.glyf-list-manager {
					top:0px;
					border-top:0px;

					.glyf-list-title {
						height: 40px;
						padding:10px 5px;
						box-sizing:border-box;
						border-bottom:1px solid #ececec;
					}

					.glyf-list {
						bottom: 50px;
						top:40px;
					}

					#glyf-list-pager {
						height: 40px;
						color: black;
						background-color: rgba(240,240,240,0.2);

						[data-pager="info"] {
							color: black; 
						}

						.btn {
							border: 1px solid rgba(0, 0, 0, 0.1);
						}
					}
				}
			}

			.simple-glyf-selector {
				display:block;
			}

            .project-glyf-selector {
                display:none;

                .project {
					bottom:0px;
					height:auto;
                    .project-title {
                        padding:10px 5px;
                        height: 40px;
                        border-bottom:1px solid #ececec;
                    }

                    .project-list {
 
					   top:40px;
					   
					   dl {
						   border:0px;
						   margin:0px;
						   border-radius: 0px;
						   line-height:1;
						   padding:5px;
					   }

                        span[data-action]:after {
                            content: attr(title);
                            font-size:13px;
                            padding-left:10px;
                            display:inline-block;
                        }
                    }
                }
            }
		}

		.notebook-right {
			background-color:#121C42; 
			overflow:hidden;
			//margin-left:1.5px;

			// 에디터 위에 필요한 도구 설정 
			> .tools {
				position:absolute;
				right:0px;
				top:0px;
				display:inline-block;
				padding:5px 10px;
			}

			
		}

		.notebook-options {
			display:none;
			flex: 1;
			background-color:rgba(0, 0, 0, 0.9); 
			width: 200px !important;
			border-left:1px solid rgba(255, 255, 255, 0.1);
			box-sizing: border-box;

			.innerdialog {
				color:white;
				height : auto !important;

				.title {
					padding: 5px;
					background-color: rgba(50, 50, 50, 0.5);
					cursor: pointer;
				}

				&.show {
					.content {
						display:block;
					}
				}

				.content {
					height: 0px;
					display:none;
					overflow:auto;
					background-color: rgba(255, 255, 255, 0.1);
				}
			}

			#innerdialog-setting-glyf {
				.content {
					padding-left:10px;
					padding-right:10px;


					.input-group {
						width: 100%;
					}

					.input-group-addon {
						display:block;
						border:0px;
						background-color:transparent;
						color:rgba(255, 255, 255, 0.8);
					}

					.form-control {
						background-color:rgba(0, 0, 0, 0.8);
						color:rgba(255, 255, 255, 0.8);
						border:1px solid rgba(0, 0, 0, 0.9); 			
						display:block;
					}

					.help {
						font-size:12px;
					}
				}
			}

			#innerdialog-setting-points {

				.content {
					box-sizing:border-box;
					padding: 0px;
					padding-left:10px;
					padding-right:10px;

					.point-group {

						&.current {
							background-color: rgba(255, 255, 255, 0.2);
						}
						padding:5px;

						.input-group {
							margin-bottom: 0px;
							> label,
							> span {
								display:none;
							}

							> input[type=number] {
								width: 60px;
								background-color:rgba(0, 0, 0, 0.8);
								color:rgba(255, 255, 255, 0.8);
								border:1px solid rgba(0, 0, 0, 0.9); 
								margin-right:2px;
								display:inline-block;
								vertical-align: middle;

								&:after {
									content : attr(data-field);
									color: #999999;
									display:inline-block;
									vertical-align:middle;
								}
							}

							> input[type=checkbox] {
								margin-left:5px;
								vertical-align: middle;
								display:inline-block;
							}

							.del-btn {
								margin-left:5px;
								display:inline-block;
								font-weight:nornal;
								vertical-align: middle;
							}
						}
					}
				}
			}

			#innerdialog-setting-similar-glyf {
				
				.similar-glyf-list {
					>.similar-glyf-item {

						float: left;
						position: relative;
						width: 80px;
						cursor: pointer;
						border-radius:3px;
						margin: 2px 5px;

						/* 특수 문자 */
						&.jaso {
							.glyf {
								background-color: rgb(74, 144, 226);

								.path {
									fill: white;
								}
							}
						}

						.unicode,
						.name {
							font-size: 12px;
							line-height: 20px;
							height: 20px;
							padding-left: 4px;
							color: #ececec;
							.ellipsis();
							position:relative;

							&:empty {
								display:none;
							}
						}

						.unicode {
							color: #70A9D6;
						}

						.glyf {
							pointer-events: none;
							width: 80px;
							height: 80px;
							border: 1px solid rgba(0, 0, 0, 0.6);
							background: rgba(0, 0, 0, 0.8);;
							box-sizing: border-box;
							display: block;
							.path {
								fill: rgba(255, 255, 255, 0.8);
							}
						}

					}

					>.glyf-item:hover{
						.glyf {
							border-bottom-left-radius:0px;
							border-bottom-right-radius:0px;
							border-color: #216bc3;
						}
						.name {
							color: #7a7a7a;
						}
					}
				}
			}

			#innerdialog-setting-shape-maker {


				.symbol-list {
					text-align:left;
					
					.symbol-item {  
						display:inline-block;
						position: relative;
						margin: 1px;
						width: 50px;
						height:50px;
						cursor: pointer;
						box-sizing:border-box;
						padding:10px;
						text-align:center;

						svg {
							pointer-events:none;
							display:block;
							width:30px;
							height:30px;

							path {
								fill: rgba(255, 255, 255, 0.8);
							}
						}

					}
				}
     
			}
		}

		.notebook .text-view-description {
			position:absolute;
			top:-40px;
			left:0;
			right: 0px;
			height: 40px;
			box-sizing:border-box;
			font-size: 20px;
			padding:5px;
			padding-left: 10px;
			font-size:15px;
			color: white;

			&:before {
				display:inline-block;
				content: "T";
				width: 24px;
				height:24px;
				text-align:center;
				padding:0px;
				font-weight:bold;
				margin-right:10px;
				border-radius: 3px;
				box-sizing:border-box;
				background-color: red;
				color: white;
			}
		}

		.notebook .text-view {
			position:absolute;
			top:40px;
			left:0;
			right: 0px;
			height: 50px;
			box-sizing:border-box;
			font-size: 1rem;
			background-color: rgba(255, 255, 255, 0.8);
			color: black;
			border-bottom:1px solid #ececec;

			[contenteditable=true]:empty:not(:focus):before {
			  color:rgba(0, 0, 0, 0.6);
			  }
			  
			.text-input {
				display:block;
				overflow:auto;
				position:absolute;
				left:0px;
				right:0px;
				bottom:0px;
				font-size:14px;
				top:0px;
				padding:10px;
				box-sizing:border-box;
				color:rgba(0, 0, 0, 0.8);
			}

		}

		.notebook .font-view {
			position:absolute;
			top:90px;
			left:0px;
			right: 0px;
			bottom: 0px;
			box-sizing:border-box;
			font-family:simple,arial;
			overflow:auto;
			font-size:70px;
			padding:10px;
			background-color: rgba(255, 255, 255, 0.6);
			color: black;

			.glyf {
				display:inline-block;
				box-sizing:border-box;
				position:relative;
				cursor:pointer;
				margin-left:-1px;
				margin-top:-1px;
				vertical-align:middle;
				line-height: 100%;
				text-align:center;

				.del-glyf {
					    position: absolute;
						right: 0;
						bottom: -15px;
						height: 15px;
						font-size: 13px;
						line-height: 1;
						display: none;
				}

				&.selected {
					background-color: rgba(139, 195, 74, 0.7);

					.del-glyf {
						display:inline-block;
					}
				}

				&:after {
					content: attr(data-empty-ch);
					position:absolute;
					font-family:arial;
					display:block;
					height:15px;
					width:100%;
					font-size:10pt;
					color: #999999;
					box-sizing:border-box;
					line-height:1;
					left:0px;
					bottom:-15px;
				}

				&:empty:before {
				  content: attr(data-empty-ch);
				  display: block; /* For Firefox */
				  color:#999999;
				  font-family: arial;
				  vertical-align:middle;
				  font-size: 70px;
				  line-height:1;
				}

				&:hover {
					background-color: rgba(139, 195, 74, 0.7);
					color: #333;
				}
			}

			&.no-border {
				.glyf {
					&:after {
						display:none;
					}
				}
			}
		}

		.notebook .font-view-description {

			position:absolute;
			top: 0px;
			height:40px;
			left:0px;
			right:0px;
			color: black; 
			padding:5px;
			box-sizing:border-box;
			font-size:13px;
			border-bottom:1px solid #ececec;

			.delete-glyf {
				border:1px solid rgba(0, 0, 0, 0.2);
			}
		}

		.editor {
			position:absolute;
			top:60px;
			right:40px;
			left: auto;
			bottom:auto;
			width: 714px;
			height: 514px;
			box-sizing:border-box;
			border:0px;
			background-color: transparent;
			border-radius:5px;

			#editor-commandmenu {
				top:-40px;			
				
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;

				li {
					color:rgba(255, 255, 255, 0.8);
				}
			}
			
			#editor-commandmenu-bottom {
				bottom:-40px;			

				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;

				li {
					color:rgba(255, 255, 255, 0.8);
				}
			}

			#glyf-editor {
				position:absolute;
				left:0px;
				right:0px;
				bottom:0px;
				top:0px;
				border-radius:5px;
				background-color: transparent;
			}
		}

		
	}


	.simple-hide {
		display:none;
	}

	.import-pic-dialog {
		position:absolute !important;
		//background-color:transparent;
		width: 714px !important;
		height: 618px !important;

		.modal-content {

			border-color: transparent;
			background-color: transparent;
			box-shadow:none !important;
		}

		.modal-header {
			display:none;
		}

		.modal-dialog {
			width: 100%;
			margin:0px !important;
		}

		.modal-body {
			padding:0px !important;
			background-color:transparent;

			.btn-right {
				width: 120px;
			}

			.btn-flat, .btn-default {
				border:1px solid #ececec !important;
			}

		}

		.modal-footer {
			background-color: transparent; 
		}

		.preview-panel {
			overflow:hidden;
			background-color:rgba(255, 255, 255, 0.3);
			margin-bottom:0px;

			.canvas-left {
				height:100%;
				overflow:hidden;
			}
		}

		.erase-label {
			display:inline-block !important;
			vertical-align: middle;
    		margin-top: 10px;
			margin-bottom:0px;
		}
	}

	&.flat-style {

		.editor-area > * {
			position:relative;
			top:auto;
			left:auto;
			right:auto;
			bottom:auto;
			margin:0 !important;


		}

		.editor-area {
			margin-top: 10px !important; 

			> .text-view {
				height: 100px;
			}

			> .font-view {
				height: 100px;
			}

			.editor.editing {
				margin:40px auto !important;
			}
		}
	}
}
